<?xml version="1.0" encoding="utf-8"?><Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
   <Product Id="4569b8f0-b0c6-11d9-9669-0800200c9a66" UpgradeCode="53a621b0-b0c6-11d9-9669-0800200c9a66" Name="MbUnit" Language="1033" Version="1.0" Manufacturer="Open Source">
      <Package Id="????????-????-????-????-????????????" Description="Advanced unit testing framework" Comments="Advanced unit testing framework" Manufacturer="Open Source" InstallerVersion="200" Compressed="yes"></Package>

      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"></Media>

	<Icon Id="I__MbUnit" src="mbunit\MbUnit.ico"></Icon>
  
      <Directory Id="TARGETDIR" Name="SourceDir">
      
		   <Component Id="C__MbUnitInstallDir" Guid="24962360-b0c7-11d9-9669-0800200c9a66">
			  <Registry Id="R__MbUnitInstallDir" Root="HKMU" Key="Software\MbUnit" Name="InstallDir" Action="write" Type="multiString">
				<RegistryValue>[MbUnitInstallDir]</RegistryValue>
			  </Registry>
			  <Registry Id="R__MbUnitVersion" Root="HKMU" Key="Software\MbUnit" Name="ProductVersion" Action="write" Type="multiString">
				<RegistryValue>[ProductVersion]</RegistryValue>
			  </Registry>
			</Component>
      
		  <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
			<Directory Id="ProgramMenuDir" Name="MbUnit">
			
			   <Component Id="C__ProgramMenuDir" Guid="85077820-b0c7-11d9-9669-0800200c9a66">
			      <File Id="F__MbUnit_url" Name="MbUnit.url" DiskId="1" src="MbUnit.url"></File>
				</Component>
			
			</Directory>
		  </Directory>
      
		  <Directory Id="ProgramFilesFolder" Name="PFiles">
			  <Directory Id="MbUnitInstallDir" Name="MbUnit" />
         </Directory>

      </Directory>
      
      <Feature Id="MbUnitFeatures" Title="MbUnit" Description="Advanced unit testing framework" Display="expand" Level="1" ConfigurableDirectory="MbUnitInstallDir" Absent="disallow" AllowAdvertise="no">
		<ComponentRef Id="C__MbUnitInstallDir"></ComponentRef>
		<ComponentRef Id="C__ProgramMenuDir"></ComponentRef>
		<FeatureRef Id="MbUnitFeature"></FeatureRef>
      </Feature>

   </Product>
</Wix>
