<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id='MbUnitFragment'>
		<DirectoryRef Id='MbUnitInstallDir' src='.\'>
            <Directory Id="ModuleDir" Name=".">
            
              <Component Id="C_c1a7ac61cf605874f01254559326be6d" Guid="C1A7AC61-CF60-5874-F012-54559326BE6D">
				<File Id="F_c1a7ac61cf605874f01254559326be6d" Name="MB6AE8~1.DLL" LongName="MbUnit.AddIn.dll" KeyPath="yes" DiskId="1" />				
				<Registry Id="R__MbUnit" Root="HKMU" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\MbUnit" Type="string" Value="10"></Registry>
				<Registry Id="R__MbUnit_AssemblyPath" Root="HKMU" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\MbUnit" Name="AssemblyPath" Type="string" Value="[MbUnitInstallDir]MbUnit.AddIn.dll"></Registry>
				<Registry Id="R__MbUnit_TypeName" Root="HKMU" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\MbUnit" Name="TypeName" Type="string" Value="MbUnit.AddIn.MbUnitTestRunner"></Registry>                     
				<Registry Id="R__MbUnit_TargetFrameworkAssemblyName" Root="HKMU" Key="SOFTWARE\MutantDesign\TestDriven.NET\TestRunners\MbUnit" Name="TargetFrameworkAssemblyName" Type="string" Value="MbUnit.Framework"></Registry>
              </Component>
            
              <Component Id="C_73c0591ee6c457e3f751b4e95de767d4" Guid="73C0591E-E6C4-57E3-F751-B4E95DE767D4">
                <File Id="F_73c0591ee6c457e3f751b4e95de767d4" Name="MB6CEB~1.PDB" LongName="MbUnit.Tasks.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_7b7d1417236b25a0b81214756571100b" Guid="7B7D1417-236B-25A0-B812-14756571100B">
                <File Id="F_7b7d1417236b25a0b81214756571100b" Name="QUICKG~1.PDB" LongName="QuickGraph.Algorithms.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_4dc25681c1cd1cf6d701ec561069a3cf" Guid="4DC25681-C1CD-1CF6-D701-EC561069A3CF">
                <File Id="F_4dc25681c1cd1cf6d701ec561069a3cf" Name="TestFu.pdb" LongName="TestFu.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_be351432446d4cbce10b095829598883" Guid="BE351432-446D-4CBC-E10B-095829598883">
                <File Id="F_be351432446d4cbce10b095829598883" Name="QUICKG~2.PDB" LongName="QuickGraph.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_f2f05dac843eeaa450efd111e901eee7" Guid="F2F05DAC-843E-EAA4-50EF-D111E901EEE7">
                <File Id="F_f2f05dac843eeaa450efd111e901eee7" Name="MB490A~1.PDB" LongName="MbUnit.Framework.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_b97fa624a3139399e2267901028d443f" Guid="B97FA624-A313-9399-E226-7901028D443F">
                <File Id="F_b97fa624a3139399e2267901028d443f" Name="MBUNIT~3.PDB" LongName="MbUnit.Cons.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_241ad84ea076ef9433889e4340e2ad81" Guid="241AD84E-A076-EF94-3388-9E4340E2AD81">
                <File Id="F_241ad84ea076ef9433889e4340e2ad81" Name="Refly.pdb" LongName="Refly.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_9becd98a28aed0ce62ffaaa74786b8a8" Guid="9BECD98A-28AE-D0CE-62FF-AAA74786B8A8">
                <File Id="F_9becd98a28aed0ce62ffaaa74786b8a8" Name="MBUNIT~1.PDB" LongName="MbUnit.GUI.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_f1ff2701466ec304d26f47213ef99c3d" Guid="F1FF2701-466E-C304-D26F-47213EF99C3D">
                <File Id="F_f1ff2701466ec304d26f47213ef99c3d" Name="NGRAPH~1.DLL" LongName="NGraphviz.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_ca6b28bd91f45fdc2976319970988118" Guid="CA6B28BD-91F4-5FDC-2976-319970988118">
                <File Id="F_ca6b28bd91f45fdc2976319970988118" Name="MBA26F~1.PDB" LongName="MbUnit.Framework.1.1.pdb" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_50ee93d648b7d120facabdb80a3c7ad6" Guid="50EE93D6-48B7-D120-FACA-BDB80A3C7AD6">
                <File Id="F_50ee93d648b7d120facabdb80a3c7ad6" Name="MBUNIT~2.CON" LongName="MbUnit.GUI.exe.config" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_f553e8ab711792bbe376c1658acb6429" Guid="F553E8AB-7117-92BB-E376-C1658ACB6429">
                <File Id="F_f553e8ab711792bbe376c1658acb6429" Name="MBUNIT~1.EXE" LongName="MbUnit.Cons.exe" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_c56c17691184953652258e475ff64037" Guid="C56C1769-1184-9536-5225-8E475FF64037">
                <File Id="F_c56c17691184953652258e475ff64037" Name="MBUNIT~3.DLL" LongName="MbUnit.Framework.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_62f6e751d40b674f27bd05e96935b624" Guid="62F6E751-D40B-674F-27BD-05E96935B624">
                <File Id="F_62f6e751d40b674f27bd05e96935b624" Name="MBUNIT~2.EXE" LongName="MbUnit.GUI.exe" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_d261950d91410dbe58798bef7d408368" Guid="D261950D-9141-0DBE-5879-8BEF7D408368">
                <File Id="F_d261950d91410dbe58798bef7d408368" Name="MBUNIT~4.DLL" LongName="MbUnit.Tasks.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_3e1c0842fa771baf018ccd40e64c3fe8" Guid="3E1C0842-FA77-1BAF-018C-CD40E64C3FE8">
                <File Id="F_3e1c0842fa771baf018ccd40e64c3fe8" Name="TESTDR~1.DLL" LongName="TestDriven.Framework.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_82c23424c02660f8474f93e8f41c8be7" Guid="82C23424-C026-60F8-474F-93E8F41C8BE7">
                <File Id="F_82c23424c02660f8474f93e8f41c8be7" Name="TestFu.dll" LongName="TestFu.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_87f959242b0ffb0f36765e722ab9559a" Guid="87F95924-2B0F-FB0F-3676-5E722AB9559A">
                <File Id="F_87f959242b0ffb0f36765e722ab9559a" Name="QUICKG~1.DLL" LongName="QuickGraph.Algorithms.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_ca7b969fb94df906d98d3855f08468ed" Guid="CA7B969F-B94D-F906-D98D-3855F08468ED">
                <File Id="F_ca7b969fb94df906d98d3855f08468ed" Name="QUICKG~2.DLL" LongName="QuickGraph.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_b07ab59dfec676fc636dc2f543ce1609" Guid="B07AB59D-FEC6-76FC-636D-C2F543CE1609">
                <File Id="F_b07ab59dfec676fc636dc2f543ce1609" Name="Refly.dll" LongName="Refly.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_b800e506434582634011ea0cc6960be1" Guid="B800E506-4345-8263-4011-EA0CC6960BE1">
                <File Id="F_b800e506434582634011ea0cc6960be1" Name="NGRAPH~2.DLL" LongName="NGraphviz.Helpers.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_2445278485d36038f7163e0433a5c337" Guid="24452784-85D3-6038-F716-3E0433A5C337">
                <File Id="F_2445278485d36038f7163e0433a5c337" Name="NGRAPH~3.DLL" LongName="NGraphviz.Layout.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_d38da2fb52987aa0916149621020513c" Guid="D38DA2FB-5298-7AA0-9161-49621020513C">
                <File Id="F_d38da2fb52987aa0916149621020513c" Name="QUICKG~3.DLL" LongName="QuickGraph.Algorithms.Graphviz.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Component Id="C_3db5ded68ecf1426051674881cfdcc10" Guid="3DB5DED6-8ECF-1426-0516-74881CFDCC10">
                <File Id="F_3db5ded68ecf1426051674881cfdcc10" Name="MBE2EF~1.DLL" LongName="MbUnit.Framework.1.1.dll" KeyPath="yes" DiskId="1" />
              </Component>
              <Directory Id="D_6a73bf97208a48d7a42c70f87afdbc3d" Name="CRUISE~1" LongName="CruiseControl">
                <Component Id="C_c519def99ae98e88d507c8a0d769daa9" Guid="C519DEF9-9AE9-8E88-D507-C8A0D769DAA9">
                  <File Id="F_c519def99ae98e88d507c8a0d769daa9" Name="MBUNIT~1.XSL" LongName="mbunit-report.cruisecontrol.xsl" KeyPath="yes" DiskId="1" />
                </Component>
              </Directory>
              <Directory Id="D_6a15c9ce344b4d5d834d6e2ede966950" Name="Snippets">
                <Directory Id="D_60e28cad65054c0d82864b26ea0532eb" Name="VSSNIP~1" LongName="VSSnippets">
                  <Component Id="C_9835634260beacd2fa767ba998821a20" Guid="98356342-60BE-ACD2-FA76-7BA998821A20">
                    <File Id="F_9835634260beacd2fa767ba998821a20" Name="AUTORU~1.XML" LongName="autorunner.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_461fbfd151537e503719485a77059a69" Guid="461FBFD1-5153-7E50-3719-485A77059A69">
                    <File Id="F_461fbfd151537e503719485a77059a69" Name="DATAFI~1.XML" LongName="datafixture.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_cd3b44c3377e7431e03060e0becf96cd" Guid="CD3B44C3-377E-7431-E030-60E0BECF96CD">
                    <File Id="F_cd3b44c3377e7431e03060e0becf96cd" Name="model.xml" LongName="model.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_a0c81dc685d23ed51f8a240279c13a0d" Guid="A0C81DC6-85D2-3ED5-1F8A-240279C13A0D">
                    <File Id="F_a0c81dc685d23ed51f8a240279c13a0d" Name="msbuild.xml" LongName="msbuild.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_640c9db4b5639598bfb57276b8e80907" Guid="640C9DB4-B563-9598-BFB5-7276B8E80907">
                    <File Id="F_640c9db4b5639598bfb57276b8e80907" Name="nant.xml" LongName="nant.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_c23c3b9f9bfec99fc92b9ff2a0df18b1" Guid="C23C3B9F-9BFE-C99F-C92B-9FF2A0DF18B1">
                    <File Id="F_c23c3b9f9bfec99fc92b9ff2a0df18b1" Name="state.xml" LongName="state.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_b2a1612ce4d2fa86ede3496b5b33ec0c" Guid="B2A1612C-E4D2-FA86-EDE3-496B5B33EC0C">
                    <File Id="F_b2a1612ce4d2fa86ede3496b5b33ec0c" Name="submodel.xml" LongName="submodel.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_95dc33eccc25dd6f4a090bb66b893739" Guid="95DC33EC-CC25-DD6F-4A09-0BB66B893739">
                    <File Id="F_95dc33eccc25dd6f4a090bb66b893739" Name="test.xml" LongName="test.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_03e809d7beab17c6c939df5aea661278" Guid="03E809D7-BEAB-17C6-C939-DF5AEA661278">
                    <File Id="F_03e809d7beab17c6c939df5aea661278" Name="TESTEX~1.XML" LongName="testexpectedexception.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_2a2fb75a66fcd753bdd2bc7166ed0b09" Guid="2A2FB75A-66FC-D753-BDD2-BC7166ED0B09">
                    <File Id="F_2a2fb75a66fcd753bdd2bc7166ed0b09" Name="TESTFI~1.XML" LongName="testfixture.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_546cc86cca0977498f6396c45c96eea4" Guid="546CC86C-CA09-7749-8F63-96C45C96EEA4">
                    <File Id="F_546cc86cca0977498f6396c45c96eea4" Name="TESTSU~1.XML" LongName="testsuitefixture.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_3cd4945d47ddb8b2eab5d8093381a4e3" Guid="3CD4945D-47DD-B8B2-EAB5-D8093381A4E3">
                    <File Id="F_3cd4945d47ddb8b2eab5d8093381a4e3" Name="TYPEFI~1.XML" LongName="typefixture.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                  <Component Id="C_5eec01be68a1344793be3bf336e4b851" Guid="5EEC01BE-68A1-3447-93BE-3BF336E4B851">
                    <File Id="F_5eec01be68a1344793be3bf336e4b851" Name="USINGM~1.XML" LongName="usingmbunit.xml" KeyPath="yes" DiskId="1" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </DirectoryRef>
          
        <Feature Id="MbUnitFeature" Title="MbUnit" Level="1">
          <ComponentRef Id="C_c519def99ae98e88d507c8a0d769daa9" />
          <ComponentRef Id="C_9835634260beacd2fa767ba998821a20" />
          <ComponentRef Id="C_461fbfd151537e503719485a77059a69" />
          <ComponentRef Id="C_cd3b44c3377e7431e03060e0becf96cd" />
          <ComponentRef Id="C_a0c81dc685d23ed51f8a240279c13a0d" />
          <ComponentRef Id="C_640c9db4b5639598bfb57276b8e80907" />
          <ComponentRef Id="C_c23c3b9f9bfec99fc92b9ff2a0df18b1" />
          <ComponentRef Id="C_b2a1612ce4d2fa86ede3496b5b33ec0c" />
          <ComponentRef Id="C_95dc33eccc25dd6f4a090bb66b893739" />
          <ComponentRef Id="C_03e809d7beab17c6c939df5aea661278" />
          <ComponentRef Id="C_2a2fb75a66fcd753bdd2bc7166ed0b09" />
          <ComponentRef Id="C_546cc86cca0977498f6396c45c96eea4" />
          <ComponentRef Id="C_3cd4945d47ddb8b2eab5d8093381a4e3" />
          <ComponentRef Id="C_5eec01be68a1344793be3bf336e4b851" />
          <ComponentRef Id="C_73c0591ee6c457e3f751b4e95de767d4" />
          <ComponentRef Id="C_7b7d1417236b25a0b81214756571100b" />
          <ComponentRef Id="C_4dc25681c1cd1cf6d701ec561069a3cf" />
          <ComponentRef Id="C_be351432446d4cbce10b095829598883" />
          <ComponentRef Id="C_f2f05dac843eeaa450efd111e901eee7" />
          <ComponentRef Id="C_b97fa624a3139399e2267901028d443f" />
          <ComponentRef Id="C_241ad84ea076ef9433889e4340e2ad81" />
          <ComponentRef Id="C_9becd98a28aed0ce62ffaaa74786b8a8" />
          <ComponentRef Id="C_f1ff2701466ec304d26f47213ef99c3d" />
          <ComponentRef Id="C_ca6b28bd91f45fdc2976319970988118" />
          <ComponentRef Id="C_50ee93d648b7d120facabdb80a3c7ad6" />
          <ComponentRef Id="C_c1a7ac61cf605874f01254559326be6d" />
          <ComponentRef Id="C_f553e8ab711792bbe376c1658acb6429" />
          <ComponentRef Id="C_c56c17691184953652258e475ff64037" />
          <ComponentRef Id="C_62f6e751d40b674f27bd05e96935b624" />
          <ComponentRef Id="C_d261950d91410dbe58798bef7d408368" />
          <ComponentRef Id="C_3e1c0842fa771baf018ccd40e64c3fe8" />
          <ComponentRef Id="C_82c23424c02660f8474f93e8f41c8be7" />
          <ComponentRef Id="C_87f959242b0ffb0f36765e722ab9559a" />
          <ComponentRef Id="C_ca7b969fb94df906d98d3855f08468ed" />
          <ComponentRef Id="C_b07ab59dfec676fc636dc2f543ce1609" />
          <ComponentRef Id="C_b800e506434582634011ea0cc6960be1" />
          <ComponentRef Id="C_2445278485d36038f7163e0433a5c337" />
          <ComponentRef Id="C_d38da2fb52987aa0916149621020513c" />
          <ComponentRef Id="C_3db5ded68ecf1426051674881cfdcc10" />
        </Feature>
    </Fragment>
</Wix>